//
//  Splash Screen
//

.splash-screen {
  height: 100vh;
  padding: 100px 50px;
  img {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 50px;
  }

  &--static {
    img {
      @include fadeIn();
    }
  }
}
